@font-face {
    font-family: 'Recursive Sans Linear Static';
    src: url('/fonts/RecursiveSansLnrSt-Regular.ttf');
}

@font-face {
    font-family: 'Recursive Sans Linear Static';
    src: url('/fonts/RecursiveSansLnrSt-Bold.ttf');
}

.root {
    -fx-font-family: 'Recursive Sans Linear Static';
    -fx-font-size: 90%;
}

.bold-text {
    -fx-font-family: 'Recursive Sans Linear Static';
    -fx-font-size: 90%;
}
